.header {
  background: url(../../image/header-picture.png) center no-repeat;
  background-size: cover;
  max-width: 1600px;
  min-height: 800px;
  position: relative;
}

@media (max-width: 1400px) {
  .header {
    min-height: 780px;
  }
}
