.header__subtitle {
  font-family: 'Habara', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  margin: 0;
  margin-bottom: 40px;
}

@media (max-width: 1400px) {
  .header__subtitle {
    font-size: 13px;
    line-height: 1.36em;
  }
}
